<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>Название вкладки</title>
  <script>
   document.createElement('aside');
   document.createElement('article');
  </script>
  <style>
   aside {
    background: #f0f0f0;
    padding: 10px;
    width: 200px;
    float: right;
   }
   article {
    margin-right: 240px;
    display: block;
   }
  </style>
 </head>
<body>

<header><h1>Заголовок страницы</h1></header>

<nav>Меню навигации
    <a>Первая ссылка</a>
    <a>Вторая ссылка</a>
</nav>

<aside>
    <p>Боковая колонка SideBar</p>
    <p>побольше значений</p>
    <p>еще одно</p>
    <p>и еще</p>
    <p>Ну ладно, еще одно</p>
</aside>

<article>
 Контент - основное содержимое страницы.
    Вставленное значение из views: {{value}}
</article>

<footer>Подвал сайта</footer>

</body>
</html>